p id="notice"
  = notice

h1 Payroll


= link_to 'Taxes', taxes_path, class: "btn btn-default pull-left"
|
= link_to 'Generate Payroll', payroll_payslip_all_path, class: "btn btn-success pull-left"

table class="table"
  thead
    tr
      th Worker
      th colspan="3"

  tbody
    - @workers.each do |worker|
      tr
        td.name = worker.name
        td
          = link_to 'Generate Pay Slip',  payroll_payslip_path(worker.id) , class: "btn btn-success pull-left"

br

= link_to 'Back', root_path, class: "btn btn-default"
