h1 Payroll
h4 Period #{Time.current.to_s(:date)}

- @payroll.each do |pay|
  table class="table table-bordered"
    thead
      tr
        th colspan="4" Name: #{pay.worker} 
        th Contracted at: #{pay.contracted_at} 
          
      tr
        th colspan="4" Role: #{pay.role}
        th Base Salary: #{pay.base_salary.round(3)}
      tr
        th Code
        th Type
        th Description
        th Referencie
        th Value
    tbody
    - @taxes.each do |tax|
      tr
        td.id = tax.id
        td.type = tax.id
        td.name = tax.name
        td.referencia = tax.percent.round(3)
        td.value = (tax.percent*pay.base_salary).round(3)
    - if pay.absence != 0 
      tr
        td.id = 0
        td.type = 0
        td.name = Absence
        td.referencia = (pay.base_salary/30).round(3)
        td.value = ((pay.base_salary/30)*pay.absence).round(3)
    
    tr
      td colspan="5" 
        strong Total:  #{(pay.total - (pay.base_salary/30)*pay.absence).round(3)}
      
= link_to 'Back', root_path, class: "btn btn-default"
