h1 Payment Slip
h4 Period #{Time.current.to_s(:date)}

table class="table table-bordered"
  thead
      tr
        th colspan="4" Name: #{@payroll.worker} 
        th Contracted at: #{@payroll.contracted_at} 
          
      tr
        th colspan="4" Role: #{@payroll.role}
        th Base Salary: #{@payroll.base_salary.round(3)}
      tr
        th Code
        th Type
        th Description
        th Base Value
        th Value
  tbody
    - @taxes.each do |tax|
      tr
        td.id = tax.id
        td.type = tax.id
        td.name = tax.name
        td.referencia = tax.percent.round(3)
        td.value = (tax.percent*@payroll.base_salary).round(3)
    - if @payroll.absence != 0 
      tr
        td.id = 0
        td.type = 0
        td.name = Absence
        td.referencia = (@payroll.base_salary/30).round(3)
        td.value = ((@payroll.base_salary/30)*@payroll.absence).round(3)
    
    tr
      td colspan="5" 
        strong Total:  #{(@payroll.total - (@payroll.base_salary/30)*@payroll.absence).round(3)}
      
= link_to 'Back', root_path, class: "btn btn-default"
