p id="notice"
  = notice
  
h1 Listing Sectors

table class="table"
  thead
    tr
      th Name
      th colspan="3"

  tbody
    - @sectors.each do |sector|
      tr
        td.name = sector.name
        td
          = link_to 'Show', sector, class: "btn btn-default"
        td
          = link_to 'Edit', edit_sector_path(sector), class: "btn btn-primary"
        td
          = link_to 'Destroy', sector, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger"

br

= link_to 'Back', root_path, class: "btn btn-default"
= link_to 'New Sector', new_sector_path, class: "btn btn-success"
