h1 class="text-center" Welcome#index

div id="welcome-menu"
  = link_to 'Workers', workers_path, class: "btn btn-default pull-left"
  / = link_to 'Absences', absences_path, class: "btn btn-default pull-left"
  / = link_to 'Time Stamps', time_stamps_path, class: "btn btn-default pull-left"
  = link_to 'Payroll', payroll_index_path, class: "btn btn-default pull-left"
  = link_to 'Worker\'s Profit', workers_profits_path, class: "btn btn-default pull-left"
