<%= form_for(@workers_profit) do |f| %>
  <% if @workers_profit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@workers_profit.errors.count, "error") %> prohibited this workers_profit from being saved:</h2>

      <ul>
      <% @workers_profit.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="form-group">
  <div class="field">
    <%= f.label :value %><br>
    <%= f.text_field :value, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :tasks_completed %><br>
    <%= f.text_field :tasks_completed, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :total_tasks %><br>
    <%= f.text_field :total_tasks, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :worker_id %><br>
    <%= f.select :worker_id, @workers, class: "form-control" %>
  </div>
  <div class="actions">
    <%= f.submit class: "btn btn-success" %>
  </div>
</div>
<% end %>
