p id="notice"
 = notice

h1 Listing Worker's Profits

table class="table"
  thead
    tr
      th Worker
      th Value
      th colspan="3"

  tbody
    - @workers_profits.each do |workers_profit|
      tr
        td 
          = workers_profit.worker.name
          br
          br = link_to (workers_profit.worker.name + '\'s Statistics'), worker_statistics_path(workers_profit.worker), class: "btn btn-primary"
        td.value = workers_profit.value
        td 
          = link_to 'Show', workers_profit, class: "btn btn-default"
        td 
          = link_to 'Edit', edit_workers_profit_path(workers_profit), class: "btn btn-primary"
        td
          = link_to 'Destroy', workers_profit, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger"
      tr
        td
          
	  /= pie_chart Goal.group(:name).count

br

= link_to 'Back', root_path, class: "btn btn-default"
/= link_to 'New Worker\'s Profit', new_workers_profit_path, class: "btn btn-default"
