p id="notice"
  = notice

p
  strong Value:
  = @workers_profit.value

p
  strong Task Completed:
  = @workers_profit.tasks_completed

p
  strong Total Tasks:
  = @workers_profit.total_tasks

= link_to 'Back', workers_profits_path, class: "btn btn-default"
|
= link_to 'Edit', edit_workers_profit_path(@workers_profit), class: "btn btn-primary"
