h1 Worker Statistics
p 
  strong Name: 
  = @worker.name

p 
  strong Role: 
  = @worker.role.name

p 
  strong Contracted at: 
  = @worker.admission_date
p 
  strong Tasks Completed: 
  = @worker.workers_profit.tasks_completed

p 
  strong Total Tasks: 
  = @worker.workers_profit.total_tasks

div id="chart_div" class="center-block"

= content_tag :div, class: "temp_information", data: {temp: @task_statistics} do

javascript:
  google.charts.load('current', {'packages':['corechart']});
 $( document ).ready(function() {
      // Load the Visualization API and the corechart package.
      // Set a callback to run when the Google Visualization API is loaded.
      google.charts.setOnLoadCallback(drawPieChart);
      // Callback that creates and populates a data table,
      // instantiates the pie chart, passes in the data and
      // draws it.
      var rows = $('.temp_information').data('temp');
      function drawPieChart() {
        // Create the data table.
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Topping');
        data.addColumn('number', 'Slices');
        data.addRows(rows);
        // Set chart options
        var options = {'title':'Tasks analytics',
                       'width':600,
                       'height':400,
                       'backgroundColor': 'transparent'
                      };
        // Instantiate and draw our chart, passing in some options.
        var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
        chart.draw(data, options);
      }
 });
