p id="notice"
  = notice

h1 Listing Roles

table class="table"
  thead
    tr
      th Name
      th Salary
      th colspan="3"

  tbody
    - @roles.each do |role|
      tr
        td.name = role.name
        td.salary = role.salary
        td
          = link_to 'Show', role, class: "btn btn-default"
        td
          = link_to 'Edit', edit_role_path(role), class: "btn btn-primary"
        td 
          = link_to 'Destroy', role, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger"

br

= link_to 'Back', root_path, class: "btn btn-default"
= link_to 'New Role', new_role_path, class: "btn btn-success"
