p id="notice"
  = notice

p
  strong Name: 
  = @role.name

p
  strong Salary: 
  = @role.salary


= link_to 'Back', roles_path, class: "btn btn-default"
|
= link_to 'Edit', edit_role_path(@role), class: "btn btn-primary"
