= form_for(@worker) do |f|
  - if @worker.errors.any?
    div id="error_explanation"
      h2 = pluralize(@worker.errors.count, "error") 
        p prohibited this worker from being saved

      ul
      - @worker.errors.full_messages.each do |message|
        li = message
      
  div class="form-group"
    div class="field"
      = f.label :name
      br = f.text_field :name, class: "form-control"
    
    div class="field"
      = f.label :cpf
      br = f.text_field :cpf, class: "form-control"
    
    div class="field"
      = f.label :registry
      br = f.text_field :registry, class: "form-control"
    
    div class="field"
      = f.label :role_id
      br = f.select :role_id, @roles, class: "form-control dropdown"

    div class="field"
      = f.label :admission_date
      br = f.text_field :admission_date, class: "form-control date"

    div class="actions"
      = f.submit class: "btn btn-success"

javascript:
  $(document).ready(function(){
    $('.date').mask('00/00/0000');
    $('.cpf').mask('000.000.000-00', {reverse: true});
  });
