p id="notice"
  = notice

h1 Listing Workers


= link_to 'Sectors', sectors_path, class: "btn btn-default pull-left"
= link_to 'Roles', roles_path, class: "btn btn-default pull-left"

table class="table"
  thead
    tr
      th Name
      th CPF
      th Registry
      th Role
      th Contracted at
      th colspan="3"


  tbody
    - @workers.each do |worker|
      tr
        td.name = worker.name
        td.cpf = worker.cpf
        td.registry = worker.registry
        td.role = worker.role.name
        td.contracted_at = worker.admission_date
        td 
          = link_to 'Show', worker, class: "btn btn-default"
        td 
          = link_to 'Edit', edit_worker_path(worker), class: "btn btn-primary"
        td 
          = link_to 'Destroy', worker, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger"

br

= link_to 'Back', root_path, class: "btn btn-default"
= link_to 'New Worker', new_worker_path, class: "btn btn-success"
