p id="notice" class="alert"
  = notice

p
  strong Name: 
  = @worker.name

p
  strong CPF: 
  = @worker.cpf

p
  strong Registry: 
  = @worker.registry
  
p
  strong Role: 
  = @worker.role_id

p
  strong Contracted at: 
  = @worker.admission_date

= link_to 'Edit', edit_worker_path(@worker), class: "btn btn-primary" 
|
= link_to 'Back', workers_path, class: "btn btn-default"
