p id="notice"
  = notice

h1 Listing Absences

table class="table"
  thead
    tr
      th Worker
      th Date
      th colspan="3"

  tbody
    - @absences.each do |absence|
      tr
        td.worker = absence.worker.name
        td.date = absence.date
        td 
          = link_to 'Show', absence, class: "btn btn-default"
        td
          = link_to 'Edit', edit_absence_path(absence), class: "btn btn-primary"
        td
          = link_to 'Destroy', absence, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger"

br

= link_to 'New Absence', new_absence_path, class: "btn btn-success"
