p id="notice"
  = notice

p
  strong Date: 
  = @absence.date

p
  strong Worker: 
  = @absence.worker_id

= link_to 'Back', absences_path, class: "btn btn-default"
|
= link_to 'Edit', edit_absence_path(@absence), class: "btn btn-primary"
