p id="notice"
  = notice
  
h1 Listing Taxes

table class="table"
  thead
    tr
      th Name
      th Percent
      th colspan="3"

  tbody
    - @taxes.each do |tax|
      tr
        td.name = tax.name
        td.percent = tax.percent
        td
          = link_to 'Show', tax, class: "btn btn-default"
        td
          = link_to 'Edit', edit_tax_path(tax), class: "btn btn-primary"
        td
          = link_to 'Destroy', tax, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger"
br

= link_to 'Back', root_path, class: "btn btn-default"
= link_to 'New Tax', new_tax_path, class: "btn btn-success"
