p id="notice"
  = notice

p
  strong Name: 
  = @tax.name

p
  strong Percent: 
  = @tax.percent

= link_to 'Back', taxes_path, class: "btn btn-default"
|
= link_to 'Edit', edit_tax_path(@tax), class: "btn btn-primary"
