/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body{
  background-color: #f5f5f5;
}

header {
  background-color: #ffffff;
  background-image: image-url('hr-hands.png');
  background-repeat: no-repeat;
  height: 14em;
  h1{
    margin-top: 2em;
    margin-right: 2em;
  }
}

#body-content{
  padding-top: 2em;
  background-color: #f1f1f1;
  min-height: 34em;
  box-shadow: 0px 5px 20px 0px #D3D3D3;
}
