// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#welcome-menu{
  width: 100%;
  height: 3em;
  padding-left: 22em;
}
