<%= form_for(@time_stamp) do |f| %>
  <% if @time_stamp.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@time_stamp.errors.count, "error") %> prohibited this time_stamp from being saved:</h2>

      <ul>
      <% @time_stamp.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="form-group">
  <div class="field">
    <%= f.label :in_hour %><br>
    <%= f.time_select :in_hour, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :out_hour %><br>
    <%= f.time_select :out_hour, class: "form-control" %>
  </div>
  <div class="actions">
    <%= f.submit class: "btn btn-default" %>
  </div>
</div>

<% end %>
