p id="notice"
  = notice

h1 Listing Time Stamps

table class="table"
  thead
    tr
      th In hour
      th Out hour
      th colspan="3"

  tbody
    - @time_stamps.each do |time_stamp|
      tr
        td.in_hour = time_stamp.in_hour
        td.out_hour = time_stamp.out_hour
        td 
          = link_to 'Show', time_stamp, class: "btn btn-default"
        td
          = link_to 'Edit', edit_time_stamp_path(time_stamp), class: "btn btn-primary"
        td
          = link_to 'Destroy', time_stamp, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger"

br

= link_to 'New Time stamp', new_time_stamp_path, class: "btn btn-success"
