p id="notice"
  = notice

p
  strong In hour: 
  = @time_stamp.in_hour

p
  strong Out hour: 
  = @time_stamp.out_hour

= link_to 'Edit', edit_time_stamp_path(@time_stamp), class: "btn btn-primary"
|
= link_to 'Back', time_stamps_path, class: "btn btn-default"
