doctype html
html
  head
  title Human Resources
  == stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
  == javascript_include_tag 'application', 'data-turbolinks-track' => true
  meta name="viewport" content="width=device-width, initial-scale=1"
  == csrf_meta_tags
  body
    header class="col-lg-12"
      h1 class="text-right"
          = link_to 'Human Resources', root_path
    div id="body-content" class="col-lg-8 col-lg-offset-2"
      == yield
